.cproject
.project
.settings/
aclocal.m4
autom4te.cache/
compile
config.guess
config.sub
config.h.in
config.h.in~
configure
install-sh
missing
COPYING
INSTALL
Makefile.in
ar-lib
depcomp
ltmain.sh
builddir/
cbuilddir/
