[database]
host = localhost
port = 5432
name = fred
user = fred

[log]
# Supported log types:
# * 0 - console (not for production use)
# * 1 - file (not for production use, see parameter ``file`` for filename (with path) where to log)
# * 2 - syslog  (see parameter ``syslog_facility`` for syslog local settings)
#
type = 1
# Log level
# * 0 ... LL_EMERG
# * 1 ... LL_ALERT
# * 2 ... LL_CRIT
# * 3 ... LL_ERR
# * 4 ... LL_WARNING
# * 5 ... LL_NOTICE
# * 6 ... LL_INFO
# * 7 ... LL_DEBUG
# * 8 ... LL_TRACE (special level for really detailed output)
level = 8
file = libfred.log
# Specify syslog facility (for log type = 2)
syslog_facility = 1

# Log configuration data (with debug severity)
config_dump = false

# Admin database options
[admin_database]
host = localhost
port = 5432
name = fred
user = fred
password = password
timeout = 10
